<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
        <p>To learn more about this project you can contact me at <%= link_to "kjjtruong@gmail.com", "mailto:kjjtruong@gmail.com" %></p>
    </div>
</div>